pascal_voc_writer
nbconvert==6.4.5
flask==1.1.4
python-socketio==4.6.0
python-engineio==3.13.2
flask-socketio==4.3.1
flask_cors==3.0.10
tensorflowjs==3.15.0
pandas-profiling
markupsafe==2.0.0
keras_preprocessing
